:root {
  --c1:#f9deb3;
  --c2:#295e82;
}

html, body {
  margin: 0;
  height: 100%;
  background: linear-gradient(120deg, var(--c1) 0%, var(--c2) 100%);
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
.form {
    display: inline-block;
    flex-direction: column;
    margin-top: 10em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    background-color: #171717;
    border-radius: 25px;
    width: 370px;
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 2em;
  }
  
  .field {
    display: flex;
    border-radius: 25px;
    margin-bottom: 1em;
    padding: .6em;
    justify-content: center;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .popup-content .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
    margin-bottom: 0.7em;
  }

  .button-container {
    margin-top: -2em;
  }

  .buttonLogin {
    margin-top: .7em;
    padding: 0.7em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .buttonLogin:hover {
    background-color: black;
    color: white;
  }
  
  .buttonNewAccount {
    margin-top: 2em;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  @media (max-width: 450px) {

    .form {
      width: auto;
      margin-top: 9em;
      margin-left: 1em;
      margin-right: 1em;
    }
    
  }