:root {
    --c1:#f9deb3;
    --c2:#295e82;
  }
  
  html, body {
    margin: 0;
    height: 100%;
    background: linear-gradient(120deg, var(--c1) 0%, var(--c2) 100%);
    text-align: center;
  }

.btnSignUp {
    margin-top: 2em;
}

.buttonSignUp {
    padding: 0.7em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    border-radius: 25px;
    margin-right: 3em;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
    background-color: #252525;
    color: white;
  }

  .buttonSignUp:hover {
    background-color: black;
    color: white;
  }
  
  .buttonCancel {
    padding: 0.7em;
    padding-left: 3.5em;
    padding-right: 3.5em;
    border-radius: 25px;
    border: none;
    outline: none;
    transition: .2s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .buttonCancel:hover {
    background-color: black;
    color: white;
  }

  @media (max-width: 400px) {


    .buttonSignUp {
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 25px;
        margin-right: 1.5em;
        margin-left: 1.8em;
      }

      .buttonCancel {
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 25px;
        margin-right: 1.8em;
        margin-left: 1.5em;
      }
    
  }